#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 56px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #fb2222e8);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-switch {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-switch.show {
  opacity: 1;
}
.route-image-wrapper {
  position: relative;
  width: 100%;
  height: 35rem;
  overflow: hidden;
}

.route-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: opacity 0.8s ease-in-out;
  opacity: 0;
}

.route-image.active {
  opacity: 1;
  z-index: 2;
}

@media (max-width: 768px) {
  .responsive-section {
    flex-direction: column !important;
    gap: 1rem;
  }

  .booking-block,
  .promo-block {
    width: 100% !important;
    height: auto !important;
    min-height: 300px;
    border-radius: 15px !important;
    overflow: hidden;
  }

  .promo-block {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .promo-block button {
    font-size: 1rem;
    padding: 0.75rem 2rem;
  }

  .sizing{
    width: 200px;
  }
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes rotateIcons {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(360deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.rotate-icon {
  animation: rotateIcons 6s infinite;
  animation-timing-function: ease-in-out;
}



@keyframes scalePulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
}

.badge-animate {
  animation: scalePulse 2s infinite ease-in-out;
  display: inline-block;
}

.badge-animate-delay {
  animation-delay: 1s; /* Starts halfway through the first badge's cycle */
}





.bus-fade-in {
  opacity: 0;
  transform: translateX(100px) rotate(-2deg);
  transition: transform 2s ease, opacity 2s ease;
}

.bus-fade-in.visible {
  opacity: 1;
  transform: translateX(0) rotate(0);
}





.animated-gradient-header {
  background: linear-gradient(
    135deg,
    rgb(4, 75, 60),
    rgb(2, 40, 97),
    rgb(4, 75, 60),
    rgb(2, 40, 97)
  );
  background-size: 400% 400%;
  animation: diagonalSweep 15s linear infinite;
}

@keyframes diagonalSweep {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}



